#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CXXFLAGS_MAINT_APPEND = -Wall -pedantic

%:
	dh $@

override_dh_auto_clean:
	rm -f droidcam droidcam-cli

override_dh_auto_build:
	dh_auto_build -- \
		CXXFLAGS="-std=c++11 -Wall -fPIC $(CXXFLAGS)" \
		JPEG=-lturbojpeg

override_dh_auto_install:
